<div class="posts" class="left">
    {% for post in posts %}
    <div class="post">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Title: <a href="{{ url_for('.post', id=post.id) }}">{{ post.title }} </a></h4>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <h4>Post time: {{ moment(post.timestamp).fromNow() }}</h4>
                    <h4>Writer: <a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a></h4>
                </li>
            </ul>
            <div class="panel-body">
                {% if post.body_html %}
                {{ post.body_html | safe }}
                {% else %}
                {{ post.body }}
                {% endif %}
            </div>
        </div>
    <div class="post-footer">
        <a href="{{ url_for('.post', id=post.id)}}">
            <span class="label label-default">Permalink</span>
            {% if current_user == post.author %}
            <a href="{{ url_for('.edit', id=post.id) }}">
                <span class="label label-primary">Edit</span>
            </a>
            {% elif current_user.is_administrator() %}
            <a href="{{ url_for('.edit', id=post.id) }}">
                <span class="label label-danger">Edit [Admin]</span>
            </a>
            {% endif %}
            {% if current_user.is_administrator() %}
            <a href="{{ url_for('.delete_post', id=post.id) }}">
                <span class="label label-danger">Delete</span>
            </a>
            {% endif %}
            <a href="{{ url_for('.post', id=post.id) }}#comments">
            <span class="label label-primary">{{ post.comments.count() }} Comments</span>
            </a>
        </a>
    </div><br>
    </div>
    {% endfor %}
</div>

